/* .table {
    @apply border-collapse border border-slate-500 shadow-md;
}

.table th{
    @apply bg-zinc-50 border border-gray-400 px-4 py-2 text-gray-800;
}

.table td {
    @apply border border-gray-400 px-4 py-2 text-gray-800;
}

.textarea {
    @apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm;
}

.a-link{
    @apply inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition;
}

.select{
    @apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md;
} */
